{% extends "user_center.html" %}
{% block right %}
<div class="row mt-5">
  <span>Average OA/VO rate: </span>
</div>
<div class="row mt-5">
  <span>Average days between application and OA/VO date: </span>
</div>
<div class="row mt-5">
  <span>Average offer rate: </span>
</div>
<div class="row mt-5">
  <span>Average days between VO and offer date: </span>
</div>
<div class="row mt-5">
  <span>Average rejection rate: </span>
</div>
<div class="row mt-5">
  <span>Average ghost rate: </span>
</div>
{% endblock %}