{% extends "user_center.html" %}
{% block right %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job</th>
      <th scope="col">Application date</th>
      <th scope="col">Current status</th>
      <th scope="col">OA date</th>
      <th scope="col">VO date</th>
      <th scope="col">Offer/Reject date</th>
      <th scope="col">Update status</th>
    </tr>
  </thead>
  <tbody>
    {% for application in applications %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{application['job_id']}}</td>
      <td>N/A</td>
      <!-- <td>{{application['status']}}</td> -->
      <td>
        <p>
          <span class="output">{{application['status']}}</span>
        </p>
        <script type="text/javascript">
          function getOption() {
            // selectElement = document.querySelector('#update');
            selectElement = document.getElementById("update"); //{{loop.index}}
            output = selectElement.value;
            document.querySelector('.output').textContent = output;
          }
        </script>
      </td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>
        <select class="custom-select" id="update">
          <option value="submitted">submitted</option>
          <option value="OA">OA</option>
          <option value="VO">VO</option>
          <option value="offer">offer</option>
          <option value="rejected">rejected</option>
        </select>
      </td>
      <td>
        <button onclick="getOption()">update</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}