{% extends "user_center.html" %}
{% block right %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job</th>
      <th scope="col">Application date</th>
      <th scope="col">Application status</th>
      <th scope="col">OA date</th>
      <th scope="col">VO date</th>
      <th scope="col">offer/reject date</th>
    </tr>
  </thead>
  <tbody>
    {% for application in applications %}
      <tr>
        <th scope="row">1</th>
        <td>{{application['job_id']}}</td>
        <td>N/A</td>
        <td>{{application['status']}}</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}