{% extends "user_center.html" %}
{% block right %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">Current status</th>
      <th scope="col" style="width: 40%">Timeline</th>
      <th scope="col">Update status</th>
    </tr>
  </thead>
  <tbody>
    {% for application in applications %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{application['title']}}@{{application['company']}}</td>
      <td>{{application['status']}}</td>
      <!-- <td>
        <p>
          <span class="output">{{application['status']}}</span>
        </p>
      </td> -->
      <td>applied on: {{application['apply_date']}},
        got OA/VO on: {{application['oa_vo_date']}},<br>
        received offer on: {{application['offer_date']}},
        got rejected on: {{application['reject_date']}}
      </td>
      <td>
        <script>
          if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
          }
        </script>
        <form action="#" method="post">
          <button type="submit" name="update-OA/VO" value="{{application['job_id']}}+received OA/VO"
            class="btn-primary">got OA/VO</button>
        </form>
        <form action="#" method="post">
          <button type="submit" name="update-offer" value="{{application['job_id']}}+received offer"
            class="btn-primary">got offer</button>
        </form>
        <form action="#" method="post">
          <button type="submit" name="update-rejected" value="{{application['job_id']}}+rejected"
            class="btn-primary">got rejected</button>
        </form>
        <form action="#" method="post">
          <button type="submit" name="delete" value="{{application['job_id']}}+delete"
            class="btn-primary">delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}