<!-- tag to inherit from the base.html template -->
{% extends 'base.html' %}

{% block content %}
    <!-- replaces the original title block in the base.html template with the new text -->
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>

    <!-- Jinja for loop -->
    {% for post in posts %}
        <!-- <a href="#"> -->
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <!-- display the post title in an <h2> heading inside an <a> tag -->
            <h2>{{ post['title'] }}</h2>
        </a>
        <!-- display the post creation date -->
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}