{% extends "base.html" %}

{% block content %}

<div class="container h-100">
    <div class="row justify-content-md-center h-100">
        <div class="register">
            <form action="" method="post" class="p-3 border border-2">
                {{ form.hidden_tag() }}
                <div class="Register-Header">
                    <h4 class="has-text-centered mb-5 is-size-3">Register</h4>
                </div>

                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=64) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <div class="registerbtn">
                    {{ form.submit(class="btn btn-primary mt-3") }}
                </div>
            </form>
            <div class="registered">
                <span>Already registered?</span> 
                <a href="{{ url_for('login_bp.login') }}"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Login</a> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
